;环境变量
env = dev

;绑定的host
host = 0.0.0.0

;绑定的port
port = 80

;是否开启调试，默认值false
debug = true

;是否启用毫秒定时器，默认值false
timer = false

;是否启用定时任务，默认值false
crontab = false

;是否启用自定义进程，默认值false
process = false

;是否启用默认路由，默认值true
default_route = true

;自定义日志路径
log_path =

;错误信息是否写入日志，默认值false
error_log = false

[swoole]
worker_num = 4
max_request = 16
task_worker_num = 4
task_max_request = 8
;配置接收输入缓存区内存尺寸。【默认值：2M; 2 * 1024 * 1024】
buffer_input_size = 2097152
;配置发送输出缓存区内存尺寸。【默认值：2M】
buffer_output_size = 2097152
